

<% @forums.each do |forum| %>
<div class="listing">
	
  <div><%= link_to forum.title, forum_path(forum) %></div>
  <div><%= forum.description %></div>
  created <%= time_ago_in_words(forum.created_at)%> ago 
</div>
<% end %>

<br />

<%= link_to 'New Forum', new_forum_path %>
